@model IEnumerable<Product>
@{
    ViewData["Title"] = "EL HABANERD Menu Items";
}

@functions {
    string GetDeleteModelId(Product product)
    {
           return $"deleteModel{product.ProductId}";
    }
    string GetModelId(Product product)
    {
           return $"deleteModel{product.ProductId}";
    }
}
<h1>@ViewData["Title"]</h1>
<br />
@if (User.IsInRole("Admin"))
{
    <a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Create New Item</a> <br />
}
<br />
<div class="row">

    @foreach(Product product in Model)
    {
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <form asp-action="Delete" asp-controller="Product" method="post">
            <input type="hidden" name="id" value="@product.ProductId" />
            <div class="card">
                   <img class="card-img-top fixed-image-height" src="@Url.Content("~/Images/" + product?.ImageUrl)" alt="@product.Description">
                   <div class="card-body">
                       <h5 class="card-title">@product.Name</h5>
                       <p class="card-text">@product.Description</p>
                        <p class="card-text">@product.Price.ToString("C")</p>
                        <p class="card-text">Quantity In Stock : @product.Stock</p>
                        @if (User.IsInRole("Admin"))
                        {
                        <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit" asp-route-id="@product.ProductId">
                            <i class="bi bi-pencil-square">Edit </i>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@GetDeleteModelId(product)">
                            <i class="bi bi-trash">Delete</i>
                        </button>
                        }
                        <div class="modal fade" id="@GetModelId(product)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete @product.Name?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
            </div>
        </form>
    </div>
    }
</div>
